@page
@model CO5227_Assignment.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
@using CO5227_Assignment.Data
@using Microsoft.Extensions.Options


<div class="text-center p-5">
    <h1 class="display-5">Checkout</h1>

    @if (Model.Items.Count == 0)
    {
        <p>Your basket is empty! Select items on the menu.</p>
    }
    else
    {
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        var subtotal = item.price * item.quantity;

                        <tr>
                            <td>@item.itemName</td>
                            <td>@item.price.ToString("C")</td>
                            <td>@item.quantity</td>
                            <td>@subtotal.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h2>Order Total: @Model.Total.ToString("C")</h2>

            <button type="submit" asp-page-handler="Buy">Buy</button>
        </form>
    }
</div>