@page
@model CO5227_Assignment.Pages.AdminMenu.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="text-center p-5">
    <h1 class="display-5">Administrator Menu</h1>

    <p class="py-3">
        <a asp-page="Create"><button>Create New Item</button></a>
    </p>

    <div class="container">
        @for (int i = 0; i < Model.MenuItems.Count; i += 2)
        {
            <div class="row mb-4">
                @for (int j = i; j < i + 2 && j < Model.MenuItems.Count; j++)
                {
                    var item = Model.MenuItems[j];

                    <div class="col-md-6 text-center">
                        <a asp-page="./Details" asp-route-id="@item.itemID">
                            @{
                                try
                                {
                                    <img class="img-fluid py-4" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.imgData))" alt="@item.imgDescription" />
                                }
                                catch
                                {
                                    <img class="img-fluid" src="~/img/noimg.png" alt="No image found" />
                                }
                            }
                        </a>
                        <div>
                            <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                        </div>
                        <div>
                            <a asp-page="./Edit" asp-route-id="@item.itemID"><button>Edit</button></a> |
                            <a asp-page="./Details" asp-route-id="@item.itemID"><button>Details</button></a> |
                            <a asp-page="./Delete" asp-route-id="@item.itemID"><button>Delete</button></a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
