@page
@model CO5227_Assignment.Pages.MenuFolder.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MenuItems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.itemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.itemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.allergens)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.allergens)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.dietryRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.dietryRequirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.storeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.storeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItems.special)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItems.special)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MenuItems.itemID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
