@page
@model CO5227_Assignment.Pages.MenuFolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<ul class="list-group list-group-horizontal list-unstyled">
    <li>
        <div class="p-5 m-5"></div>
    </li>
<li>
<div class="text-center p-5">
    <h1 class="display-5">Menu</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table table-borderless p-5 w-auto">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItems) {
                <tr>
                    @{
                        try
                        {
                            <div class="container">
                                <div class ="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
                                    <td>
                                            <a asp-page="./Details" asp-route-id="@item.itemID">
                                            <img class="img-fluid " src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.imgData))" alt="@item.imgDescription" />
                                        </a>
                                        
                                    </td>
                                </div>
                            </div>
                        }
                        catch
                        {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.itemID">
                                <img class="img-fluid" src="~/img/noimg.png" alt="No image found" />
                            </a>
                        </td>
                        
                        }
                    }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </li>
    <li>
        <div class="p-5 m-5"></div>
    </li>
</ul>