@page
@model CO5227_Assignment.Pages.MenuFolder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].allergens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].dietryRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].storeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems[0].special)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allergens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dietryRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.storeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.special)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
